- text ||= ""
- level ||= 0
- max_level ||= 5
- real_width = (level.to_f / max_level.to_f) * 100
.col-xs-6.col-sm-4.col-md-3.col-lg-2.center
  .meter.animate
    %p.center.meter-text= text
    %span{data: {width_percentage: real_width.to_i}, style: "width: #{real_width.to_i}%;"}
      %span