.subtitle= t('expertise.title')
- @user.expertise_entries.group_by(&:category).each do |category, entries|
  .row
    .col-xs-12
      .expertise-subtitle= t("expertise.subtitle.#{category}", default: t('expertise.others'))
    - entries.each do |entry|
      = render "shared/progress", text: entry.label, level: entry.rating.level