%nav.navbar.navbar-default.padding-remover.box-shadow-bottom
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - {timeline: root_path, profile: profile_path}.each do |key, link|
          - active = current_page?(link)
          %li{class: active ? 'active' : ''}
            = link_to t(".#{key}"), link
    = link_to "Download PDF", root_path(format: :pdf)
    / /.navbar-collapse
  / /.container-fluid