#timeline.timeline-container
  %br.clear
  .timeline-wrapper
    .row
      .col-xs-4
        %h2.timeline-time 1990-2000
      .col-xs-8
        %dl.timeline-series
          %dt#event01.timeline-event
            %a Event
          %dd#event01EX.timeline-event-content
            %p Content about the event goes here.
          %dt#event02.timeline-event
            %a Another Event
          %dd#event02EX.timeline-event-content
            %p Content about the other event.
  .timeline-wrapper
    .row
      .col-xs-4
        %h2.timeline-time 1984
      .col-xs-8
        %dl.timeline-series
          %dt#event03.timeline-event
            %a Yet Another Event
          %dd#event03EX.timeline-event-content
            %p Content about the event goes here.
  %br.clear