= render 'home/profile_info'
.separator
.avoid-break-inside
  = render 'home/expertise_info'
  .separator
- @user.timeline_entries.group_by(&:category).each do |category, entries| 
  .avoid-break-inside
    = render 'home/timeline', entries: entries, category: category
    .separator