= render 'home/profile_info'
.separator
.avoid-break-inside
  = render 'home/expertise_info'
  .separator
- Category.where(category_type: TimelineEntry.to_s).each do |category| 
  .avoid-break-inside
    = render 'home/timeline', entries: category.timeline_entries, category: category.title, picture: category.picture_url(:little)
    .separator