@import "../curriculum";

.separator{
  margin: 30px 100px;
}

.meter{
  @extend .nostripes;
}

.visible-pdf{
  display: inherit !important;
}

.hidden-pdf{
  display: none;
}

/* Unvelibably, this is what forces the PDF to get a certain width */
.page-body{ 
  width: 900px; 
  margin: 0;
  padding: 0 5%;
}

/* Newer versions of Wicked PDF shows body background */ 
.container-fluid{ background: #fff; }

.timeline-wrapper{ margin: 0 !important; }
.timeline-event-content p{ margin: 6px 0 0 0; }