/* Default background */
body{
  background: #b9babe image-url("body-bg.png") repeat;
}

/* Bootstrap modifiers */
.container{
  margin: 0 auto;
  max-width: 1170px;
  background: #fff image-url("container-bg.png");
  height: 100%;
}

.container-fluid{
  margin: 0 auto;
  max-width: 1500px;
  background: #fff image-url("container-bg.png");
  height: 100%;
}

.padding-remover{
  margin-left: -15px;
  margin-right: -15px;
}

@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}

.box-shadow-bottom{
  @include box-shadow(0px 2px 4px rgba(3, 3, 3, 0.2));
  background-color: transparent;
  border-color: transparent;
  border-radius: 0px;
}

.navbar-nav > li{
  font-size: 15px;
  padding: 0 5px;
  margin-top: 6px;
}

.navbar-default .navbar-nav > li.active{
  border-top: 6px solid $secondary-color;
  margin-top: 0px;
}

.navbar-default .navbar-nav > li:hover{
  @include transition(0.5);
  border-top: 6px solid $secondary-color;
  margin-top: 0px;
}

.navbar-default .navbar-nav > .active > a{
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a:hover{
  background-color: transparent;
}


/* Curriculum specific */
.flexy{
  display: flex;
  align-items: center;
}

.fixed-flexy-image{
  flex: 1;
  min-width: 120px;
  max-width: 120px;

  > img {
    width: 80px;
    border-radius: 50%;
  }
}

.flexy-container{
  flex: 6;
}

.page-body{
  margin: 0 10%;
}

.right-aligned{
  text-align: right;
}

.right-aligned-not-phone{
  text-align: right;
}

.center{
  text-align: center;
}

.email{
  color: $primary-bolder-color;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 22px;
}

.ref-icon{
  width: 64px;
  height: 64px;
}

.profile-info{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;

  .picture{
    overflow: hidden;
    flex: 1;
    height: 175px;
    width: 175px;
    min-width: 175px;
    max-width: 175px;
    border-radius: 50%;
    @include box-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  }
  
  .info{
    flex: 4;
    font-family: $font-family-sans-serif;
    margin: 0 35px;

    .user{
      color: $secondary-color;
      font-weight: 800;
      font-size: 26px;
    }

    .secondary{
      color: $primary-bold-color;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .description{
      text-align: justify;
    }
  }

}

.separator{
  border-bottom: 2px solid #E7E7E7;
  margin: 50px 0;
}

.subtitle{
  font-size: 24px;
  font-family: $font-family-sans-serif;
  color: $secondary-color;
}

.expertise-subtitle{
  font-size: 19px;
  font-weight: 600;
  font-family: $font-family-sans-serif;
  color: $primary-bold-color; 
  margin-top: 10px;
  margin-bottom: 1px;
}