@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

$font-family-sans-serif: 'Droid Sans' !default;

$primary-color: #B0B0B0;
$primary-bold-color: #C9C9CA;
$primary-bolder-color: #6F6F6F;

$secondary-color: #106F00;

@mixin flex-display{
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

@mixin align-items($value: center){
  -webkit-align-items: $value; /* Safari 7.0+ */
  align-items: $value;
}

@mixin flex($value){
  -webkit-box-flex: $value;
  -webkit-flex: $value;
  -ms-flexbox: $value;
  flex: $value;
}