@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

$font-family-sans-serif: 'Droid Sans' !default;

$primary-color: #B0B0B0;
$primary-bold-color: #C9C9CA;
$primary-bolder-color: #6F6F6F;

$secondary-color: #106F00;